body {
  display: grid;
  place-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  gap: 2rem;
  max-width: 40rem;
}

main > img {
  max-width: 10rem;
}

h1, h2, h3 {
  text-align: center;
  margin: 0;
}

button {
  display: flex;
  gap: 1rem
}

button img {
  width: 3rem;
  filter: invert(1);
}

